.container {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__row {
    width: 100%;
    display: flex;
  }

  &__seal_output {
    width: 50px;
    height: 50px;
    display: flex;
    box-sizing: border-box;
    padding: 5px;
  }

  &__heading_box {
    box-sizing: border-box;
    padding: 5px;
    width: calc(100% - 50px);
  }

  &__loading_message {
    font-size: 12px;
    font-family: monospace;
  }

  &__seal_output,
  &__result_output,
  &__error_output,
  &__heading_box {
    display: flex;
  }

  &__verification_headline {
    color: black;
    font-size: 20px;
    margin: 0;
  }

  &__verification_success {
    color: green;
  }

  &__verification_fail {
    color: red;
  }

  &__seal {
    width: 50px;
    height: 50px;
  }
}
