.ubirch-info-text {
  display: flex;
  flex-direction: column;
}

.ubirch-seal-output {
  display: flex;
}

.ubirch-result-output {
  display: flex;
}

.ubirch-error-output {
  display: flex;
}

.ubirch-verification-success {
  color: green;
}

.ubirch-verification-headline {
  color: black;
}

.ubirch-verification-fail {
  color: red;
}

.ubirch-verification-info {
  color: black;
}
