.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #212121;

  * {
    font-family: sans-serif;
  }

  &__row {
    width: 100%;
    display: flex;
  }

  &__seal_output {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 5px;
  }

  &__result_output {
    padding: 5px;
  }

  &__heading_box {
    box-sizing: border-box;
    padding: 5px 5px 5px 15px;
    align-items: center;
    width: calc(100% - 50px);
    height: inherit;

    &--wide {
      width: 100%;
      padding: 5px;
    }
  }

  &__loading_message {
    font-family: monospace;
  }

  &__seal_output,
  &__result_output,
  &__heading_box {
    display: flex;
  }

  &__verification_headline {
    margin: 0;
  }

  &__verification_success {
    color: green;
  }

  &__verification_fail {
    color: red;
  }

  &__seal {
    width: 50px;
    height: 50px;
  }
}
